* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.container {
  align-items: center;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
  width: 600px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field {
  display: flex;
  gap: 25px;
  justify-content: center;
  width: 90%;
}

input {
  font-size: 15px;
  height: 35px;
  padding: 5px 10px;
}

.input1 {
  border: 1px solid #2424;
  outline: #2424;
}

.field1 {
  align-items: center;
  display: flex;
  gap: 10px;
}

.output {
  align-items: center;
  border: 2px solid #2424;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
  width: 80%;
}

.field2 {
  align-items: flex-end;
  display: flex;
  gap: 50px;
}

.input2 {
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
}

.output1 {
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  height: 80px;
  justify-content: center;
  line-height: 1.5;
  width: 90%;
  word-break: break-all;
}

.button-field {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

button {
  background-color: #2424;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 6px #2424;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 180px;
}

@media screen and (max-width: 425px) {
  .container {
    width: 400px;
  }
  input {
    width: 100%;
  }
}
